<div class="row pull-right">
    <a href="#/"> << Regresar a MIS PÁGINAS</a>
</div>
<h1>Crear PÁGINA</h1>

<div bs-tabs>
    <div data-title="Datos de la página" bs-pane>
        <p>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre de la página</label>
                <div class="col-sm-10">
                    <input type="text"
                           ng-model="grupo.titulo"
                           class="form-control"  placeholder="Título de la pagina">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <textarea class="form-control"
                              ng-model="grupo.descripcion"
                              rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="fb_url" class="col-sm-2 control-label">Facebook Url</label>
                <div class="col-sm-10">
                    <input type="text"  ng-model="grupo.fb_url"
                           class="form-control" id="fb_url" placeholder="http://fb.com/gtrdceer">
                </div>
            </div>
        </form>
    </div>
        </p>
    <div data-title="Caracteristicas" bs-pane>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2"><h3>Personas que vivien en:</h3></div>
            <div class="col-sm-6">
                <ubigeo data-grupo="grupo"></ubigeo>
            </div>
            <div class="row text-right">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        Edades desde :
                        <input type="number" ng-model="grupo.edad_desde" data-max="100"/>
                        Hasta :
                        <input type="number" ng-model="grupo.edad_hasta"/>
                    </div>
                    <div class="col-sm-6 text-center">
                        Desde <strong>{{grupo.edad_desde}}</strong> hasta los <strong>{{grupo.edad_hasta}}</strong> años
                    </div>
                </div>
            </div>

            <p>
                <div class="row text-right">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="">Sexo</label>
                            <div class="col-sm-9">
                                <select class="form-control"  ng-model="grupo.sexo">
                                    <option value="Todos" selected>Todos</option>
                                    <option value="Varones">Masculino</option>
                                    <option value="Mujeres">Femenino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <strong>{{grupo.sexo}}</strong>
                    </div>
                </div>
            </p>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th></th>
                        <th>Tipo de referencia</th>
                        <th>Detalle de preferencia</th>
                    </tr>
                    <tr ng-repeat="pregunta in grupo.preguntas">
                        <td><input type="checkbox" ng-model="pregunta.estado"/></td>
                        <td>{{pregunta.pregunta}}</td>
                        <td><textarea class="form-control" rows="1" ng-model="pregunta.respuesta"></textarea></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit"
                ng-click="guardarGrupo()"
                class="btn btn-success">Crear Página</button>
        <a href="#/" class="btn btn-link">Cancelar</a>
    </div>
</div>





