<div class="text-right">
    <a ng-href="#/editar/{{item.id}}"
       class="btn btn-info">
        <i class="fa fa-pencil"></i>
        Editar</a>
    <button type="button"
            ng-if="item.estado == 1"
            ng-click="cambiarEstado(item)"
            class="btn btn-danger"><i class="fa fa-trash"></i> Deshabilitar</button>
    <button type="button"
            ng-if="item.estado != 1"
            ng-click="cambiarEstado(item)"
            class="btn btn-success"><i class="fa fa-check"></i> Habilitar</button>
</div>