<section class="content-header">
    <h1>
        Comunicaciones
        <small ng-if="0">13 new messages</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mailbox</li>
    </ol>
</section>
<div class="col-md-3">
    <a ng-if="cargo.id < 10" ng-click="fnEnviarMensaje()" class="btn btn-primary btn-block margin-bottom">Redactar Mensaje</a>
    <a ng-if="cargo.id > 9"  ng-click="fnEnviarMensajeRespondido()" class="btn btn-success btn-block margin-bottom">Enviar Mensaje</a>
    <div class="box box-solid">

        <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
                <!--<li class=""><a href="#"><i class="fa fa-inbox"></i> Bandeja de Mensajes </a></li>-->
                <li><a  class="pointer" ng-click="fnIrBandeja()"><i class="fa fa-inbox"></i> Bandeja de Mensajes</a></li>
                <li><a  class="pointer" ng-click="fnIrEnviados()"><i class="fa fa-envelope-o"></i> Enviados</a></li>
                <li><a  ng-if="cargo.id > 9" class="pointer" ng-click="fnIrMensajesParaResponder()"><i class="fa fa-file-text-o"></i> Mensajes para responder</a></li>
            </ul>
        </div><!-- /.box-body -->
    </div><!-- /. box -->
    <div  class="bg-info" style="clear: both; padding: 10px;">
        <p class="">
            Si tiene alguna duda o sugerencia por favor envienos un mensaje y les responderemos en la brevedad
        </p>
    </div>
</div><!-- /.col -->
