<div class="row">
    <div class="col-sm-12" ng-show="!file">
        <div class="btn btn-info" ngf-max-size="90MB" ngf-select="upload($file)">Subir Archivo
        <span ng-show="progress > 0">{{progress}}%</span>
        </div>
        <div class="progress" ng-show="progress > 0 ">
            <div class="progress-bar progress-bar-primary progress-bar-striped"
                 role="progressbar"
                 aria-valuenow="{{progress}}"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: {{progress}}%">
                <span class="sr-only">{{progress}}% Complete (success)</span>
            </div>
        </div>
    </div>
    <div class="col-sm-12" ng-show="file">
        <img ng-if="file.type == 'jpg'" ng-src="{{file.ubicacion}}"  height="100px" alt="">
        <a target="_blank" ng-href="/public/{{file.ubicacion}}">{{file.name}}</a>
        <button  ng-if="!noEliminar" ng-click="eliminar()" class="btn btn-danger">Eliminar</button>
    </div>
</div>