<mensajes-menu></mensajes-menu>
<div class="col-md-9">
    <div class="box box-primary">
        <form name="form" class="css-form" novalidate>
            <div class="box-header with-border">
                <div class="pull-right btn btn-danger"><a ng-href="#/">Volver</a></div>
                <h3 class="box-title">Mensaje</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <b> {{mensaje.asunto}}</b>
                </div>
                <div ng-if="mensaje.url == 1" class="form-group">
                    <a href="{{mensaje.mensaje}}" target="_blank">{{mensaje.mensaje}}</a>
                </div>
                <div ng-if="mensaje.url == 0" class="form-group">
                    {{mensaje.mensaje}}
                </div>
                <hr>
                <div class="form-group">
                    {{ mensaje.respuesta }}
                </div>
                <div class="form-group">
                    <view-file data-id="mensaje.archivo_id"></view-file>
                </div>

            </div><!-- /.box-body -->
        </form>
    </div><!-- /. box -->
</div><!-- /.col -->
